<html>
<head>
<title>Mevanator App</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div id="content_wrapper">
    <div id="content">
      <%- body%>
    </div>
  </div>
</body>
</html>