<h2>User Requests</h2>

<table border="1">
<thead>
  <tr>
    <th>User ID</th>
    <th>Time</th>
    <th>Expected Responses</th>
  </tr>
 </thead>
 <tbody>
 <% requests.forEach( function(item) { %>
  <tr>
    <td><a href="/responses/<%=item._id%>"><%= item.user_id %></a></td>
    <td><%= item.date_time %></td>
    <td>
	<% item.expected.forEach( function(expect) { %>
      <%= expect.name %></td>
   <% }); %>
   </td>
  </tr>
 <% }); %>
</tbody>
</table>