<h2>Responses for User</h2>

<table border="1">
<thead>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Status</th>
  </tr>
 </thead>
 <tbody>
 <% responses.forEach( function(item) { %>
  <tr>
    <td><%= item.name %></a></td>
    <td><%= item.status %></td>
    <td><%= item.respone_time %></td>
    <td><%= item.date_time %></td>
  </tr>
 <% }); %>
</tbody>
</table>