<html>
<head>
<title>Mevanator App</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/highcharts.js"></script>
</head>
<body>
  <div id="content_wrapper">
    <div id="content">
      <h2>Responses for User</h2>

<table border="1">
<thead>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Response Time</th>
    <th>Status</th>
  </tr>
 </thead>
 <tbody>
 <% responses.forEach( function(item) { %>
  <tr>
    <td><%= item.name %></a></td>
    <td><%= item.date_time %></td>
    <td><%= item.response_time %></td>
    <td><%= item.status %></td>
  </tr>
 <% }); %>
</tbody>
</table>

    </div>
  </div>
</body>
</html>

